/* PP Neue Montreal */
@font-face {
  font-family: "Montreal";
  src: url("/fonts/Montreal/PPNeueMontreal-Thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montreal";
  src: url("/fonts/Montreal/PPNeueMontreal-Book.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montreal";
  src: url("/fonts/Montreal/PPNeueMontreal-Italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Montreal";
  src: url("/fonts/Montreal/PPNeueMontreal-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montreal";
  src: url("/fonts/Montreal/PPNeueMontreal-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montreal";
  src: url("/fonts/Montreal/PPNeueMontreal-SemiBolditalic.otf") format("opentype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

/* Forevs */
@font-face {
  font-family: "Forevs";
  src: url("/fonts/Forevs/ForevsDemo-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Forevs";
  src: url("/fonts/Forevs/ForevsDemo-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Forevs";
  src: url("/fonts/Forevs/ForevsDemo-Super.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Mondwest */
@font-face {
  font-family: "Mondwest";
  src: url("/fonts/PPMondwest-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
